@import url("https://fonts.googleapis.com/css2?family=Nunito");

@keyframes from360leftmargin {
  from {
    padding-left: 360px;
  }
}

@keyframes from360rightmargin {
  from {
    padding-right: 360px;
  }
}
@keyframes grow {
  from {
    height: 0;
    width: 0;
  }
}

$primary-color: #0596ff;
$light-color: white;
$curve: 70px;

html {
  scroll-behavior: smooth;
}

a {
  color: unset;
}

h3 {
  color: $primary-color;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 14px;
  @media screen and (max-width: 1200px) {
    font-size: 30px;
    text-align: center;
  }
}

.subHead {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subHead .underline {
  background-color: $primary-color;
  width: 200px;
  height: 3px;
  margin-top: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  text-decoration: none;
}

.App {
  width: 100%;
  overflow: hidden;
}

.AppBar {
  width: 100%;
  background-color: $light-color;
  position: fixed;
  top: 0;
  z-index: 50;

  header {
    width: 100%;
    display: flex;
    box-shadow: 0 0 11px 0 #00000073;
    .close,
    .menu {
      display: none;
    }

    h2 {
      font-size: 25px;
      flex: 1;
      padding: 20px 0;
      text-align: center;

      span {
        color: $primary-color;
      }
    }
    nav {
      flex: 1;
      background-color: $primary-color;
      display: flex;
      align-items: stretch;
      justify-content: space-around;

      .navLink {
        // background-color: $light-color;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: relative;

        .cover {
          position: absolute;
          background-color: $light-color;
          top: 0;
          left: 0;
          right: 0;
          z-index: 0;
          transition: 1s;
          height: 0;
        }
        .text {
          position: relative;
          font-weight: 800;
          letter-spacing: 1px;
          color: $light-color;
          transition: 1s;
        }
        &.active {
          .cover {
            height: 100% !important;
          }
          .text {
            color: $primary-color;
          }
        }

        &:hover {
          .cover {
            height: 80%;
          }
          .text {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.Home {
  .Hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      flex: 1;
      background-color: $primary-color;

      .left {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-color;
        border-radius: 0 0 $curve 0;

        p.grey {
          color: grey;
        }
        p.primary {
          color: $primary-color;
        }

        p {
          font-size: 1.5rem;
        }
        h1 {
          font-size: 3rem;
          font-weight: 400;
          letter-spacing: 1.5rem;
        }
      }
      .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 150px;
        }
      }
    }
    .bottom {
      width: 100%;
      h4 {
        font-size: 1.5rem;
        letter-spacing: 2px;
      }

      .link {
        padding: 2em;
        @media screen and (max-width: 950px) {
          padding: 10px;
          margin: 0 !important;
        }
      }

      .link,
      .arrowLine {
        display: flex;
        align-items: center;
        margin: 0 20px;
      }

      .arrow {
        transform: translateX(50px);
        transition: 1s;
      }

      .link:hover .arrow {
        transform: translateX(5px);
      }

      .one {
        background-color: $light-color;
        padding-left: 100px;
        animation: from360leftmargin 1s;
        @media screen and (max-width: 950px) {
          animation: none;
        }

        .arrowLine {
          transform: rotate(180deg);
        }

        .inner {
          background-color: #0596ff;
          // padding: 2em;
          display: flex;
          justify-content: flex-start;
          border-radius: $curve 0 0 $curve;

          h4 {
            color: $light-color;
          }
        }
      }
      .two {
        background-color: $primary-color;
        padding-right: 100px;
        animation: from360rightmargin 1s;
        @media screen and (max-width: 950px) {
          animation: none;
        }

        .link {
          flex-direction: row-reverse;
        }

        .inner {
          background-color: $light-color;
          // padding: 2em;
          display: flex;
          justify-content: flex-end;
          border-radius: 0 $curve 0 0;

          h4 {
            color: $primary-color;
          }
        }
      }
    }
  }
  .Skills {
    // min-height: 100vh;
    background-color: $primary-color;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    * {
      position: relative;
    }
    @media screen and (max-width: 1200px) {
      background-color: $light-color;
    }

    .absoluteBG {
      background: linear-gradient(179deg, white, #f1f1f1);
      position: absolute;
      top: 0;
      left: 0;
      right: 100px;
      bottom: 100px;
      border-radius: 0 0 $curve 0;
      @media screen and (max-width: 1200px) {
        display: none;
      }
      // z-index: 0;
    }
    .greyDivider {
      background-color: #c9c9c9;
      width: 50%;
      height: 3px;
      z-index: 1;
      @media screen and (max-width: 1200px) {
        width: 90%;
      }
    }

    .skillsList {
      display: flex;
      width: 90%;
      justify-content: space-evenly;
      // padding: 30px;
      @media screen and (max-width: 1200px) {
        flex-direction: column;
      }

      .SkillCard {
        // min-height: 300px;
        max-width: 330px;
        flex: 1;
        margin: 30px;
        background-color: #f7f7f7;
        box-shadow: inset #00000014 -7px -11px 11px 3px,
          inset #ffffff 2px 4px 10px 2px;
        padding: 20px;
        border-radius: $curve;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.2s;
        img {
          transition: 0.5s;
        }
        &:hover {
          // box-shadow: inset #00000014 -15px -20px 0px 3px,
          //   inset #ffffff 19px 20px 0px 2px;
          border-radius: 35px;
          img {
            transform: rotate(360deg);
          }
        }
        @media screen and (max-width: 1200px) {
          box-shadow: #00000078 0 0 9px 0;
          border-radius: 0;
          padding: 0;
          // flex-direction: row;
          margin: 10px 0;
          max-width: 100%;
        }

        .border {
          display: none;
          @media screen and (max-width: 1200px) {
            display: block;
            width: 50px;
            align-self: stretch;
            background-color: $primary-color;
            position: relative;
          }
        }

        .image {
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 1200px) {
            display: none;
          }
        }
        h4 {
          font-size: 1.6rem;
          font-weight: 400;
          letter-spacing: 10px;
          padding: 20px 0;
          width: 100%;
          text-align: center;
          @media screen and (max-width: 1200px) {
            // position: absolute;
            // transform: translateX(-50%) rotate(-90deg);
            background-color: $primary-color;
            // left: 23px;
            // top: 50%;
            color: $light-color;
            font-size: 20px;
          }
        }
        ul.skills {
          align-self: flex-start;
          margin-left: 50px;
          margin-bottom: 50px;
          @media screen and (max-width: 1200px) {
            // margin: unset;
            // align-self: unset;
            margin: 50px 100px;
          }
          li {
            color: #424242;
            font-size: 1rem;
            letter-spacing: 5px;
          }
        }
      }
    }
  }
  .Works {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .curver {
      background-color: $primary-color;
      height: 100px;
      width: 100%;
      overflow: hidden;
      margin-bottom: -100px;
      z-index: -1;

      @media screen and (max-width: 1200px) {
        display: none;
      }
      .curve {
        height: 200px;
        width: 100%;
        background-color: white;
        border-radius: 50%;
        transform: scaleX(1.2);
      }
    }
    .workList {
      display: flex;
      flex-direction: column;

      a:nth-child(even) .WorkCard {
        flex-direction: row-reverse;
        @media screen and (max-width: 750px) {
          flex-direction: column;
        }
      }

      .WorkCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        transition: 0.2s;
        background-color: #fff;
        overflow: hidden;
        &:hover {
          box-shadow: 0 0 19px 4px #00000038;
          transform: scale(1.2);
          z-index: 5;
          border-radius: 5px;
          @media screen and (max-width: 1300px) {
            transform: none;
          }
        }

        .image {
          max-width: 400px;
          max-height: 300px;
          // background-color: #C9C9C9;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          object-fit: cover;

          @media screen and (max-width: 750px) {
            margin: 40px;
            max-width: 100vw;
            margin-bottom: 10px;
          }

          img {
            min-height: 100%;
            min-width: 100%;
          }
        }
        .content {
          flex: 1;
          margin: 0 40px;
          max-width: 500px;

          @media screen and (max-width: 750px) {
            margin: 0px;
            padding: 40px;
            padding-top: 10px;
            max-width: 100vw;
          }
          .subtitle {
            color: $primary-color;
            font-size: 1.5rem;
            @media screen and (max-width: 750px) {
              font-size: 15px;
            }
          }
          .title {
            font-size: 2rem;
          }
        }

        @media screen and (max-width: 750px) {
          flex-direction: column;
        }
      }
    }
  }
}

.Contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h4 {
    font-size: 20px;
    letter-spacing: 5px;
    z-index: 5;
  }
  .circle {
    position: fixed;
    background-color: $primary-color;
    z-index: 0;
    animation: grow 1s;

    &.one {
      border-radius: 0 100% 0 0;
      bottom: 0;
      left: 0;
      height: 500px;
      width: 500px;
    }
    &.two {
      border-radius: 0 0 0 100%;
      top: 0;
      right: 0;
      height: 300px;
      width: 300px;
    }
  }
}

@media screen and (max-width: 950px) {
  .arrowLine {
    display: none !important ;
  }
  .AppBar {
    header {
      align-items: center;
    }
    .menu {
      display: block !important;
      margin: 10px;
      cursor: pointer;
      // margin-right:50px;
    }
    header h2 {
      font-size: 15px;
      padding: 10px 0;
    }
    header nav {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(0px at 50% 0);
      transition: 0.5s;
      &.open {
        clip-path: circle(100vh at 50% 0);
      }

      .close {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }

        img {
          width: 50px;
        }
      }
    }
  }

  .Home {
    .Hero {
      .top {
        flex-direction: column-reverse;
        flex: unset;

        .right {
          flex: unset;
          height: 50vh;
        }
        .left {
          //padding-top: 50px;
          border-radius: 0;
          flex: unset;
          padding: 50px 0;
          .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          p {
            font-size: 20px;
            text-align: center;
          }
          h1 {
            font-size: 40px;
            letter-spacing: 5px;
            text-align: center;
          }
        }
        .right img {
          width: 80px;
        }
      }
      .bottom {
        display: flex;
        flex-direction: row;
        padding: 0 20px;
        margin: 0 auto 50px auto;
        max-width: 500px;

        .one,
        .two {
          padding: 0;
          background-color: unset;
          flex: 1;
          align-items: center;
          justify-content: center;
        }

        .one .inner {
          padding-left: 30px;
        }

        .two .inner {
          border: solid $primary-color 2px;
          border-radius: 0 $curve $curve 0;
        }

        .inner {
          // padding: 10px !important ;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center !important;

          h4 {
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }
  }

  .Contact .circle.one,
  .Contact .circle.two {
    height: 250px;
    width: 250px;
    // animation: grow 1s !important;
  }

  .AppBar header nav .navLink {
    height: 60%;
  }

  .Contact h4 {
    font-size: 15px;
  }
}
